﻿@{ 
    int? month = ViewBag.Month;
    int? quartal = ViewBag.Quartal;
    string[] NameCompany = ViewBag.NameCompany;
    WebApplication.Models.CompanyData companyData = ViewBag.CompanyData;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container col-lg-10 col-lg-offset-1">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">
                    @{Html.RenderPartial("FormPartialView", companyData);}
                </div>
                <div class="panel-footer">
                    <label for="submite-button" class="btn btn-primary">Submite</label>
                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bootstrap.file-input.js"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script type="text/javascript">
    $(function () {
        var companyNames = [];
        @if (NameCompany != null)
        {
            foreach (var n in NameCompany)
            {
                @:companyNames.push("@n");
            }
        }
        console.log(companyNames);
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                matches = [];

                substrRegex = new RegExp(q, 'i');

            $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };
        $('#datetimepicker').datetimepicker();
        $('.selectpicker').selectpicker();
        $('input[type=file]').bootstrapFileInput();
        $('#typeahead').typeahead({
            minLength: 1,
            hint: false,
        },
        {
            name: 'companyNames',
            source: substringMatcher(companyNames)
        }
        );
        $('#typeahead').bind('typeahead:select', function (ev, suggestion) {
            var name = suggestion.replace(/ (.+)/i, "");
            $.ajax({
                url: "/Home/AutoComplete",
            type: "POST",
            dataType: "text",
            data: {
                companyName: name
            }
            }).done(function (partialViewResult) {
                    $("#maimForm").html(partialViewResult);
                }).fail(function () {
                    console.log("Fail");
                });
            });
        });
    </script>
</body>
</html>